language: python
addons:
  sonarcloud:
    organization: mschmieder
    token:
      secure: RZ0VH0HaMBLVDDXXLF6eMclQFsN01P+SQIuSE+sYv6ze3AEqA7FH7SFNPgwH/b8NBumE8cOyHgWeZAZCaZArxAcH1xGmUm0CPlxn5fTtY0dOCntAXISzGCgESG0RKq+M2yB8tomefJl3N3F2lBwPtAr8ObbTPo8IiEjCvpoQxgRxRwoz31W1S0GLNBZBJw33dfhv7w0gpAvO4VBGKoo13y3eJMHS0EYfWbzCGXLtnUOKqcUpP+KiXFRMz6qe3U/H7HmiXTi8h/skI+pMKeFk/j3fKtq/bDGLQZvu0StQ7vs8bMZXwa6DaS0uBoVcB/axyT08yWHx02Szgu49mm9Fi8yC+f9/7SP1T3zOF10EuJn+iQmN+AqR4jB4d76Bdmn9IzX5EOCT2q+zupYjDCF1vNmhp5q93hJ2Awqi7xJkH/JO/bJgeP5gOfrVaZmSRTQ7gvsTWfTYcPhFnDkPbXk1/QqeymTqqhQ8eVdJf6lurXVKGYOAOsewOpnXQOSYDSTJu9rHqWKfFAPqLi7kfAWXDhcpOQr5UueDX84772sjd7sixX+xHQf+XBFD8H/vzpR0z1eo7KJOiD3tQFzdsBDkWRbdZQ0J0FcuOcrrrPr+3oAtaNE0pDoOeOdbW/KHY/+frKh2sGMbWtWR+iYAogHT0HhXIjjk3jV56yn1XysRy8Q=
env:
  global:
  - secure: UMfs6l0LOwNXURIXONRnT012TH7qcyedXpAhBvCyPudtMtrr48lqzOG1P553nASQhpIoHiN/QKDtNs9nvj5wmZ9QlfwYyhx/wsTDcQFyecZ8FUnal/N1YABatvSF97rcZA25y+84QPp1nFjujGgzSrrMu+B3dipa7Bge//fPACsnNuw8q2B2nuRdfSsJtTv3t4yfaJpHHzdLD4dfJk9Mj/Cx+32u4zNxgpRZfRqnfMD7LbezUukm2ilGBcbwfjNhQ1o9W7roiYDJy+QJvq/LnRhofsH0XCsTSZBIwPJl3Ypvk+Ea9vZuyqWmVaTxS1NFkyVDle6v9moih5Tsztz3mm/h0L33Q2eJ+ZL/WQMbkdRh+1mVfSvuXbPWDX5lkpNQtm2VplA8P9EX+EhF8tPqu6TusIIPs1gnENg0Z3+sNLlvL8oauEfdBdXZ4A6UIm2hVGk9w5FQ9FWjh4k+Nc89bPoUqHw3UDjT+5cvaY9OuySA0Yl8Po9Emng84MYaad0dikmvijvN1HB01SAei5383Pgm95CqmpgDLsF7UXk1i7YYkqBSDfZx25TfBMZcf8jEYN8qNnJ6fzZ7j0mxut0LzQ+pa6MnCyR4a8poIdXBrOjL0MYE3vlQSBO/F4Rt7CZCUYWh0MWpl8Tx/PQvqlqDHmq5jNRW3kAgD+U15Duo6OA=
  - secure: ZFja6SrJQB1KAsQWoahPUbWA/IbeRSkOHhZGxv82JUsW81Mr6XUKrUqNLUxSZvvhguD4y0b5e8On/BTqB+829S0CteLGVpbLI6oj0sr+y9o9pskAxoun8XMY3hUzg4RmL/WwU9W78vSpLMRlWS60NwT+nI6QcIvP2uRG5L0jeK8kwnWhB+Ns7z5/CtdGHiE16NvETsE3NHihKXUDhiK+83RT+qfjpQvVCy/wioqe/Ixl2NKJzHhExARNIG7/aViK1e5bQHXo+vUlR7xlrQamFp7z8ZQlrwhWNAP8WCqJrbUHC+8ai1Gsm4Ia62DLsI2RhpMvFd2fR0+1aKySoMV8gVcwFZ0oVQ+9/arC+TII813OnfhBKd/5MpMluCUL2UC1zAOP8shwLDOWVIr8eRzjb/js9eMaz0CqJreoTC81kkBvC5/bM0+JBV6ey4x3tgV9zXR3KfoDU5BYWpyqciTYp+qNk7fmzgGXeuwRFVncj+xxYjuohEZiycJJozpcKuBCjBrWRnb3SD+CyqfckikUFcIMnalqo26xi4SSmYElvHJYtIwHios8K37GEJXybnt94J+V4aircrT3pMmGFTXp+Tpf9+SGbyiGHGd72lSVa31w8FEDWewtt8O3bNCJIbn2GYVxzpAEvrMABrdaQukn8Nm7M0B1W0wS5CV/n6OuZwA=
  - secure: WWAw49GFNlyGv2DkMvRcpJjVhWGA/xvSszKK+BoEUET3W9u8tL5obdKCoXSXArITQ6RhNjxK5l+13dJqW/kN/GBzCxHyJThPz9z7B8j+Pe9nx1rEpirr12aHwLfs7iJbLKsAr9wKRYnv9Io/t/jyLByI6+YMI/sxW4gWDVnK4pBv2kkLsbD2SyNTj+jZZ1z0kv7Lk6yBhKBj8J+hvEEoBbVdNaZtEe3p4mgPnR3EDLSQn6k3Qc63/6aKbnzh9L4ls3qoS7I8NMi8atLRpSCOJHEcQMnYb5rqOHfe9Zngedkdk9fFLgTR55w/egovye+aHJLqT5LK1pvR2FMCBgnufudacczaXPWxLmh2FijcNwIkPZsI7/+heeAiwdVflxl4jkgQitmy4VRoo36mRHrXRK9ipk78umBikaXGMtUNncAZzG7gSyYyx+EAbLWuVoBjheXZfTs9bOUijRtlMvm//RMZqKfGHaK7za9mu3rUKFLOlrs+CI6OorFeffrZzxImcEUqOanZpbidgNNstpFULlM7jA+kgSUecHePTJRWLD1oAib0I9RJljBp8I98oFb4lQR/2f7e8X03OUrJXHt7z+VJ+OHexdGKMTteQ78jmRnKR2+38gFONBORQeiclkUuJtY31kft0NkYs8CATYiX8unzTcUH5zP/HmwCQ0Vo6GA=
  - secure: AXDsnt/0UhYBC2s5BpKbn3kcdUl3J3o46HXPL+vffXckzXUaDm5uzFd+Y/NXWLrTTLiFBlPdL/dYCdhWs8JMIezZNKTqlN7XY+0gU8mdzWrjwYGhvD3scEJEcnvUWPFrUTy+zDUwkKnU9DfIG/j0vXyEeVg0bPWrVnSQVyWVFLnLT5Omyjbb5QE57LtaF+OXf638FeQoGRNERoluGZQRE6J/rqIouvDENj4PHBWYWVzE7mRzWB61p0GoQB759UDplKxfyi13LhiPZXWcf3RWWOCUdltzLZKenIBcHD11WEcftYRLF1NHarCPfZCKMPRNecAFUpLlr+D+djfb0B6E+MGs+weDkia3k3VvEdFQLKPWt0oUeD9VTc/XQ81/KX90lol7wsAmmFbxa2DZBb0BI/yo5wfGRiDSafgjkhRqYhIfgjkiHlCOXCaGlFPfMTPBehh6jrQuouhgLxQBYG24n7giMR/wrNV2YHix8qyLIj7r78U3ffuud+Bq4uOyKkY3woss+Yw7S8i6Zk7Vg3kJcn00W6y54umr95p6rpWabtW2zDXT3pGSW0OomkA2GvKseVXWpf/t/vvU3iyNeiV2hBOm7nCAf1a/Xk45dUZLvddHPXG0aSnR/IYfrOp9Jv7W8Svd3Z0obfIl2qIMeV2DdTobuECRau5cNzAhdjn+kbE=
python:
- 3.6
- 3.7
- 3.8
install:
- pip install .
- pip install nose2 "nose2[coverage_plugin]"
script: nose2 -v --with-coverage --coverage-report xml
jobs:
  include:
  - stage: docker
    services:
    - docker
    script: docker build -t mschmieder/kacl-cli .
  - stage: analyse
    python: 3.6
    script:
    - git fetch --unshallow
    - pip install nose2 "nose2[coverage_plugin]"
    - nose2 -v --with-coverage --coverage-report xml
    - sonar-scanner
  - stage: release
    if: branch = master
    python: 3.6
    install:
    - git config --global user.email "travis@travis-ci.org"
    - git config --global user.name "Travis CI"
    - git remote add github https://${GITHUB_TOKEN}@github.com/mschmieder/python-kacl.git
      > /dev/null 2>&1
    - pip install bumpversion python-kacl
    script:
    - git checkout master && bumpversion patch && kacl-cli release patch --tag --commit
      --commit-message "[ci skip] New version {latest_version} -> {new_version}" --modify
      && git push --tags --quiet --set-upstream github master
    deploy:
    - provider: pypi
      user: __token__
      password:
        secure: f3wUoWwCuMWexRJPButz1JisYF90Rt+OMLk5bjW0fXH6zXOJD7sqPaswUogjJhtiVI/1euQEi1/xC+lSS6pbsgL7mlLbo8KMVQd9O8gYXE6gKAjLAPq4mkU0MBT8UkYGnUQUeFWEh8Gf8a1H8wpzT26sAwgao7WreUoDB/tzY6oOSHttyZr5qYLHSWtvQ515DXhzwWNFUmmt29aknudgutMh9NEhkVMktpPezzu8H53fHsDJiFuZw9zgGcNZaP5loWcm2V5SsqrHeMI04nbprNaC1Ayqdy18q0ulZAEX5nvJ+U3QKnF3mhjgvyTGzh+LDAEFyIDkVfG/TmSshN3dAxDA6hHJdgdgfADhs2kyZPVOF1r6RGh8e51OAaPakiSFLBa3eix8ietodlBQZ+RKSyOu2ibUW/rOXotkrXzaqKrnLiHLWYLpGybfYChx+7R+PRomjm4nYEm2Ngl/D7zLQnLvsIBS57tgSR6Z3Q9LJPiULcvBznzSIWdJzArFONC0VPSDvk6i30PGbr4U6DAoTdCUOTDdKY1XBbOnXrZO2ebLt3ZkE2aoY1gEkbri+/5c4eHQRZ9kOql1I4Nc59tm7XDhB2rQQgerX29iei6aPlA7xSGplFrRPNbndKYqsWpzeyI1g6YhMQKJ62ZhzdK46ILavRvef1mdyAELhcFfUcg=
      skip_existing: true
      skip_cleanup: true
      on:
        branch: master
    - provider: script
      script: bash scripts/deploy-docker.sh
      skip_cleanup: true
      on:
        branch: master
